@model Contact
@{
    ViewData["Title"] = @Localizer.Getkey("EDIT_CONTACT");
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <form asp-action="Edit" method="post" class="mt-4" id="editForm">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label for="FirstName" class="form-label">@Localizer.Getkey("FIRST_NAME") *</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" required>
        </div>

        <div class="mb-3">
            <label for="LastName" class="form-label">@Localizer.Getkey("LAST_NAME") *</label>
            <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" required>
        </div>

        <div class="mb-3">
            <label for="Email" class="form-label">@Localizer.Getkey("EMAIL")</label>
            <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email">
        </div>

        <button type="submit" class="btn btn-primary">@Localizer.Getkey("SAVE")</button>
        <a href="@Url.Action("Index", "Contacts")" class="btn btn-secondary">@Localizer.Getkey("CANCEL")</a>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            if ('@TempData["SuccessMessage"]' !== '') {
                toastr.success('@TempData["SuccessMessage"]');
            }

            document.getElementById('editForm').addEventListener('submit', function (event) {
                event.preventDefault();
                var firstName = document.getElementById('FirstName').value;
                var lastname = document.getElementById('LastName').value;
                var email = document.getElementById('Email').value;

                if (!validator.isLength(firstName, { min: 2, max: 50 })) {
                    alert('@Localizer.Getkey("FIRST_NAME_MUST_BE_BETWEEN_2_50_LONG")');
                    return;
                }

                if (!validator.isLength(lastname, { min: 2, max: 100 })) {
                    alert('@Localizer.Getkey("LAST_NAME_MUST_BE_BETWEEN_2_100_LONG")');
                    return;
                }

                if (email.lenght > 0 && !validator.isEmail(email)) {
                    alert('@Localizer.Getkey("INVALID_EMAIL")');
                    return;
                }

                this.submit();
            });
        });

       
    </script>
}
